<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <ul>
                <% for (let post of posts) {%>
                    <li class="list-group-item">
                        <div class="lead">
                            <%= post.title %>
                        </div>
                        <a href="<%= post.url %>" target="_blank">
                            <%= post.url %>
                        </a>
                    </li>
                    <% }%>
            </ul>
        </div>
    </div>